* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, sans-serif;
  width: 100%; }

.menu {
  background-color: #222;
  height: 3.2rem;
  width: 100%; }
  .menu ul {
    list-style: none;
    position: relative; }
    .menu ul li {
      width: 10rem;
      float: left; }
  .menu a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff; }
  .menu a:hover {
    background-color: #f4f4f4;
    color: #555; }
  .menu ul ul {
    position: absolute;
    visibility: hidden; }
    .menu ul ul li {
      float: none;
      border-bottom: solid 1px #ccc; }
      .menu ul ul li a {
        background-color: #022f46; }
  .menu ul li:hover ul {
    visibility: visible; }

label[for="bt_menu"] {
  padding: 5px;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  display: none; }

#bt_menu {
  display: none; }

.banner {
  height: auto;
  max-width: 100%; }

@media (max-width: 800px) {
  label[for="bt_menu"] {
    display: block; }

  #bt_menu:checked ~ .menu {
    margin-left: 0; }

  .menu {
    height: 0.1rem;
    margin-top: -4px;
    margin-left: -100%;
    transition: all .4s; }
    .menu ul li {
      width: 100%;
      float: none; }
    .menu ul ul {
      position: static;
      overflow: hidden;
      max-height: 0;
      transition: all .4s; }
    .menu ul li:hover ul {
      height: auto;
      max-height: 200px; }

  .banner {
    margin-top: 1rem; } }
.homepage-content {
  margin: 8rem;
  margin-top: 3rem;
  text-align: justify; }
  .homepage-content h1 {
    font-size: 2.75rem; }
  .homepage-content p {
    font-size: 1rem;
    line-height: 1.25rem; }

@media (max-width: 800px) {
  .homepage-content {
    margin: 2rem;
    margin-top: 2rem; }
    .homepage-content h1 {
      font-size: 2.5rem; } }
.detalhe {
  margin: 8rem;
  margin-top: 3rem;
  text-align: justify; }
  .detalhe h1 {
    font-size: 2.75rem; }
  .detalhe p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 3rem; }

.sobre {
  margin: 8rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  text-align: justify; }
  .sobre h1 {
    font-size: 2.75rem; }
  .sobre p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1rem; }

.content {
  display: flex;
  position: relative; }
  @media (max-width: 800px) {
    .content {
      display: block;
      margin-top: 50px; } }
  .content .contatos {
    flex: 1;
    margin-left: 0; }
    @media (max-width: 800px) {
      .content .contatos {
        margin-left: 0; } }
  .content .address {
    padding: 10px; }
    @media (max-width: 800px) {
      .content .address {
        margin-bottom: 40px; } }
  .content .form-right {
    margin-right: 200px; }
    @media (max-width: 800px) {
      .content .form-right {
        margin-left: 50px; } }
  .content h1 {
    color: black;
    font-family: arial;
    font-size: 40px; }
    @media (max-width: 800px) {
      .content h1 {
        margin-left: -15px;
        font-size: 37px;
        margin-top: 20px;
        width: 400px; } }
  .content fieldset {
    border: 0;
    float: right;
    margin-right: 20px;
    width: 340px; }
    @media (max-width: 800px) {
      .content fieldset {
        float: none;
        margin-right: 0; } }
    .content fieldset h2 {
      color: black;
      font-family: arial;
      margin-right: 55px;
      margin-top: 30px;
      text-align: center; }
    .content fieldset .grupo:before, .content fieldset .grupo:after {
      content: " ";
      display: table; }
    .content fieldset .grupo:after {
      clear: both; }
    .content fieldset .campo {
      float: left;
      margin-bottom: 1em;
      margin-right: 1em;
      display: block; }
      .content fieldset .campo label {
        margin-bottom: 5px;
        display: block; }
      .content fieldset .campo input[type="text"],
      .content fieldset .campo input[type="email"],
      .content fieldset .campo input[type="url"],
      .content fieldset .campo input[type="number"],
      .content fieldset .campo textarea {
        border: 1px solid #CCC;
        border-radius: 7px;
        box-shadow: 1px 1px 2px #000;
        display: block;
        padding: 0.5em; }
      .content fieldset .campo select {
        border: 1px solid #CCC;
        border-radius: 7px;
        box-shadow: 1px 1px 2px #000;
        display: block;
        padding: 0.5em; }
        .content fieldset .campo select option {
          padding-right: 1em; }
      .content fieldset .campo input:focus,
      .content fieldset .campo select:focus,
      .content fieldset .campo textarea:focus {
        background: #FFC; }
  .content button {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .content button:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  .content .botao, .content select, .content label.checkbox {
    cursor: pointer; }

footer {
  background-color: #000;
  padding: 1rem; }
  footer p {
    color: #fff; }
  footer nav div {
    display: inline-block; }
    footer nav div ul {
      margin: 1rem;
      list-style: none; }
      footer nav div ul li {
        padding: 0.5rem; }
        footer nav div ul li a {
          text-decoration: none;
          color: #fff; }

@media (max-width: 800px) {
  footer nav div {
    margin-bottom: 1rem; } }

/*# sourceMappingURL=style.css.map */
