// All pages
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
}

// Menu and Banner

.menu {
  background-color: #222;
  height: 3.2rem;
  width: 100%;

  ul {
    list-style: none;
    position: relative;

    li {
      width: 10rem;
      float: left;
    }
  }

  a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
  }

  a:hover {
    background-color: #f4f4f4;
    color: #555;
  }

  ul {
    ul {
      position: absolute;
      visibility: hidden;

      li {
        float: none;
        border-bottom: solid 1px #ccc;

        a {
          background-color: #022f46;
        }
      }
    }

    li:hover {
      ul {
        visibility: visible;
      }
    }
  }

}



// Label

label[for="bt_menu"] {
  padding: 5px;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  display: none;
}

#bt_menu {
  display: none;
}

.banner {
  height: auto;
  max-width: 100%;
}

@media (max-width: 800px) {
  label[for="bt_menu"] {
    display: block;
  }
  
  #bt_menu:checked ~ .menu {
    margin-left: 0;
  }

  .menu {
    height: 0.1rem;
    margin-top: -4px;
    margin-left: -100%;
    transition: all .4s;
  
    ul {
      
      li{
        width: 100%;
        float: none;
      }

      ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
      }

      li:hover {
        ul {
          height: auto;
          max-height: 200px;
        }
      }
    } 
  }

  .banner {
    margin-top: 1rem;
  }
}



// End Menu and banner



// Homepage content

.homepage-content {
  margin: 8rem;
  margin-top: 3rem;
  text-align: justify;

  h1 {
    font-size: 2.75rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 800px) {
  .homepage-content {
    margin: 2rem;
    margin-top: 2rem;
  
    h1 {
      font-size: 2.5rem;
    }
  }
}

// Serviços Page

.detalhe { 
  margin: 8rem;
  margin-top: 3rem;
  text-align: justify;

  h1 {
    font-size: 2.75rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 3rem;
  }
}

//Sobre Page

.sobre { 
  margin: 8rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  text-align: justify;

  h1 {
    font-size: 2.75rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1rem;
  }
}

// Contato Page

.content {
  display: flex;
  position: relative;
  
  @media(max-width:800px) {
      display: block;
      margin-top: 50px;

  }

  .contatos {
      flex: 1;
      margin-left: 0;

      @media(max-width:800px) {
          margin-left: 0;
      }
  }

  .address {
      padding: 10px;

      @media(max-width:800px) {
          margin-bottom: 40px;
      }
  }

  .form-right {
      margin-right: 200px;

      @media(max-width: 800px) {
          margin-left: 50px;
      }
  }

  h1 {
      color: black;
      font-family: arial;
      font-size: 40px;

      @media(max-width: 800px) {
          margin-left: -15px;
          font-size: 37px;
          margin-top: 20px;
          width: 400px;
      }

  }

  fieldset {
      border: 0;
      float: right;
      margin-right: 20px;
      width: 340px;

      @media(max-width: 800px) {
          float: none;
          margin-right: 0;
      }

      h2 {
          color: black;
          font-family: arial;
          margin-right: 55px;
          margin-top: 30px;
          text-align: center;
      }

      .grupo:before, .grupo:after {
          content: " ";
          display: table;
      }

      .grupo:after {
          clear: both;
      }

      .campo {
          float: left;
          margin-bottom: 1em;
          margin-right: 1em;
          display: block;

          label {
              margin-bottom: 5px;
              display: block;
          }

          input[type="text"],
          input[type="email"],
          input[type="url"],
          input[type="number"],
          textarea {
            border: 1px solid #CCC;
            border-radius: 7px;
            box-shadow: 1px 1px 2px #000;
            display: block;
            padding: 0.5em;
          }

          select {
            border: 1px solid #CCC;
            border-radius: 7px;
            box-shadow: 1px 1px 2px #000;
            display: block;
            padding: 0.5em;
              option {
                  padding-right: 1em;
              }
          }

          input:focus, 
          select:focus,
          textarea:focus {
              background: #FFC;
          }
      }

  }
  
  button {
      font-size: 1.5em;
      background: #F90;
      border: 0;
      margin-bottom: 1em;
      color: #FFF;
      padding: 0.2em 0.6em;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  
  button:hover {
      background: #FB0;
      box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
      text-shadow: none;
  }
  
  .botao, select, label.checkbox {
      cursor: pointer;
  }
}

// Footer

footer {
  background-color: #000;
  padding: 1rem;

  p {
    color: #fff;
  }

  nav {
    div {

      display: inline-block;

      ul {
        margin: 1rem;
        list-style: none;

        li {
          padding: 0.5rem;

          a {
            text-decoration: none;
            color: #fff;
            
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  footer {  
    nav {
      div {
        
        margin-bottom: 1rem;
        
      }
    }
  }
}